.DS_Store
.vscode/launch.json
.vscode/tasks.json
rcDbServer/.DS_Store
rcDbServer/bin/.DS_Store
rcDbServer/bin/Debug/.DS_Store
rcDbServer/bin/Debug/net9.0/rcDbServer.dll
rcDbServer/bin/Debug/net9.0/rcDbServer.pdb
rcDbServer/obj/.DS_Store
rcDbServer/obj/Debug/.DS_Store
rcDbServer/obj/Debug/net9.0/rcDbServer.AssemblyInfo.cs
rcDbServer/obj/Debug/net9.0/rcDbServer.AssemblyInfoInputs.cache
rcDbServer/obj/Debug/net9.0/rcDbServer.dll
rcDbServer/obj/Debug/net9.0/rcDbServer.pdb
rcDbServer/obj/Debug/net9.0/rcDbServer.sourcelink.json
rcDbServer/obj/Debug/net9.0/ref/rcDbServer.dll
rcDbServer/obj/Debug/net9.0/refint/rcDbServer.dll
rcDbServer/bin/Debug/net9.0/rcDbServer.dll
rcDbServer/bin/Debug/net9.0/rcDbServer.pdb
rcDbServer/obj/Debug/net9.0/rcDbServer.AssemblyInfo.cs
rcDbServer/obj/Debug/net9.0/rcDbServer.AssemblyInfoInputs.cache
rcDbServer/obj/Debug/net9.0/rcDbServer.dll
rcDbServer/obj/Debug/net9.0/rcDbServer.pdb
rcDbServer/obj/Debug/net9.0/rcDbServer.sourcelink.json
rcDbServer/obj/Debug/net9.0/ref/rcDbServer.dll
rcDbServer/obj/Debug/net9.0/refint/rcDbServer.dll
